*.suo
.DS_Store
bin
obj
/Compiler/Crayon.userprefs
/Demos/*/output/android
/Demos/*/output/cwin
/Demos/*/output/javaawt
/Demos/*/output/js_local
/Demos/*/output/js_remote
/Demos/*/output/python
/Demos/*/output/windows
/Docs/sql.txt
/Release
