*.suo
bin
obj
/csharp/Demos/*/output/android
/csharp/Demos/*/output/cwin
/csharp/Demos/*/output/javaawt
/csharp/Demos/*/output/js_local
/csharp/Demos/*/output/js_remote
/csharp/Demos/*/output/python
/csharp/Demos/*/output/windows
