<!DOCTYPE html>
<html lang="en-US" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>%%%PROJECT_TITLE%%%</title>
		%%%FAVICON%%%
		<style type="text/css">
			body { background-color:#000; text-align:center; }
			%%%CSS_EXTRA%%%
		</style>
		
		<script type="text/javascript" src="common.js"></script>
		<script type="text/javascript" src="bytecode.js"></script>
		<script type="text/javascript" src="resources.js"></script>
		<Script type="text/javascript" src="RuntimeService.js"></Script>
		<script type="text/javascript" src="main.js"></script>
%%%JS_EXTRA_HEAD%%%
		<script>
			window.addEventListener('load', () => crayonToolchainRun(%%%INIT_ARGS%%%));
		</script>
	</head>
	<body>
		<div id="crayon_host" oncontextmenu="return false;"></div>
	</body>
</html>
