<!DOCTYPE html>
<html lang="en-US" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>%%%PROJECT_TITLE%%%</title>
		%%%FAVICON%%%
		<style type="text/css">
			body { background-color:#000; text-align:center; margin:0px; }
			%%%CSS_EXTRA%%%
		</style>
		
		<script type="text/javascript" src="common.js"></script>
		<Script type="text/javascript" src="RuntimeService.js"></Script>
		<script type="text/javascript" src="cbx.js"></script>
		<script type="text/javascript" src="%%%PROJECT_ID%%%_cbx.js"></script>
		<script type="text/javascript" src="main.js"></script>
%%%JS_EXTRA_HEAD%%%
		<script>
			window.addEventListener('load', () => Wax.toolchainRun(%%%INIT_ARGS%%%));
		</script>
	</head>
	<body>
		<div id="crayon_host" oncontextmenu="return false;"></div>
	</body>
</html>
