<documentation>
	<library name="Web">
		<description>
			Drawing and image-loading functions designed to be used with the Game library.
		</description>
		<namespace name="Web">
			<function name="launchBrowser">
				<arg name="url" type="string">URL to launch</arg>
				<description>
					Opens the user's default browser pointed at the given URL. If running on the JavaScript platform,
					simply opens a new tab or window.
				</description>
			</function>
		</namespace>
	</library>
</documentation>